# -- Femi --

## Folders
corrections
src

## Data
data/books_1.csv
data/books_2.csv
data/books_3.csv
data/books_4.csv
data/books_5.csv

## Notebooks
other.ipynb

## Scripts


# -- Monicah --

## Notebooks
Untitled.ipynb


# -- Belinda --


# -- Bradley --

## Notebooks
notebook.ipynb
test.ipynb
notebook.ipynb
#file index
.DS_STORE

# -- Emmanuel --
